/************************* COMMON ACROSS APP *************************/

body, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
}

h1 {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 24px;
  padding: 0px;
  margin: 0 0 30px 0;
}

h4 {
  color: grey;
}

#subheader {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

a:hover {
  color: #B53C3F;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  position: relative;
  vertical-align: middle;
  padding: 15px 40px;
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #B53C3F;
  border-color: #B53C3F;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #a23638;
  border-color: #a23638;
}

button#secondary {
  background-color: #6a6a6a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}

button#secondary:hover {
  background-color: #888888;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

input {
  font-size: 14px;
  height: 40px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 3px;
  border: solid #dddddd 1px;
  float: left;
}

#form_container {
  width: 330px;
  height: 330px;
  background-color: white;
  border: 1px #dddddd solid;
  padding: 40px;
  margin: auto;
  text-align: center;
}

.form_element {
  margin-top: 30px;
  display: block;
}

#content {
  background: #F7F8FA;
  padding: 60px 0;
}

#content button {
  float: left;
}



/************************* HEADER *************************/

#header_container {
  height: 60px;
  background-color: white;
}

#header_wrapper {
  width: 980px;
  margin: auto;
  height: 60px;
}

#logo {
  height: 60px;
  width: 300px;
  display: inline-block;
  padding-top: 10px;
}

nav {
  margin-left: 400px;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

nav li {
  display: inline;
  padding-right: 40px;
  float: right;
}

/************************* HOMEPAGE *************************/

#tagline {
  font-size: 36px;
  padding-top: 155px;
  color: white;
  margin-bottom: 50px;
}

#banner {
  background: #E1E1E1 url('../images/cover2.jpg') no-repeat center;
  display:block;
  text-align: center;
  margin: auto;
  height: 500px;
}

#placeholderdiv {
  height: 500px;
}


/************************* CREATE TRIP PAGE *************************/

#createTripParent {
  position: relative;
	width: 800px;
  height: 640px;
  margin: 30px auto;
  padding: 40px 40px 50px 40px;
}

#createTripParent button {
  clear: both;
  display: block;
  float: right;
}

#createTripParent button#primary {
  margin-top: 40px;
}

#firstHalf {
	float: left;
	width: 300px;
}

#secondHalf {
	float: right;
	width: 300px;
}
/************************* CONTRIBUTE TO TRIP PAGE *************************/

#contributeTripParent {

}


#dateRanges {
  border: 1px solid black;
  height:  100px;
  width: 300px;
}

#activityOptions {
  border: 1px solid black;
  height:  100px;
  width: 300px;
}



