body, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
}

h1 {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 24px;
  padding: 0px;
  margin: 0 0 30px 0;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

a:hover {
  color: #B53C3F;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  position: relative;
  vertical-align: middle;
  padding: 15px 40px;
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #B53C3F;
  border-color: #B53C3F;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#header_container {
  height: 60px;
  background-color: white;
}

#header_wrapper {
  width: 980px;
  margin: auto;
  height: 60px;
}

#logo {
  height: 60px;
  width: 300px;
  display: inline-block;
  padding-top: 10px;
}

nav {
  margin-left: 400px;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

nav li {
  display: inline;
  padding-right: 30px;
  float: right;
}

#form_container {
  width: 300px;
  height: 330px;
  background-color: white;
  border: 1px #dddddd solid;
  padding: 40px 40px 50px 40px;
  margin: auto;
  text-align: center;
}

.form_element {
  margin-top: 30px;
  display: block;
}

#content {
  background: #F7F8FA;
  padding: 60px 0;
}

#tagline {
  font-size: 36px;
  padding-top: 135px;
  color: white;
  margin-bottom: 50px;
}

#banner {
  background: #E1E1E1 url('../images/cover2.jpg') no-repeat center;
  display:block;
  text-align: center;
  margin: auto;
  height: 500px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

input {
  font-size: 14px;
  height: 40px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 3px;
  border: solid #dddddd 1px;
}

#placeholderdiv {
  height: 500px;
}

#createTripHeader {
}

#createTripSubheader {
	color: grey;
}
#createTripParent {
	padding: 0 auto;
	width: 600px;
}

#firstHalf {
	float: left;
	width: 300px;
}

#secondHalf {
	float: right;
	width: 300px;
}
