/************************* COMMON ACROSS APP *************************/

body, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
}

h1 {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 24px;
  padding: 0px;
  margin: 0 0 30px 0;
}

h3 {
  font-size: 18px;
  padding: 0 0 10px 0;
  margin: 0;
}

h4 {
  margin: 0 0 20px 0;
  color: grey;
}

#subheader {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

a:hover {
  color: #B53C3F;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  position: relative;
  vertical-align: middle;
  padding: 15px 40px;
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #B53C3F;
  border-color: #B53C3F;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #a23638;
  border-color: #a23638;
}

button#secondary {
  background-color: #6a6a6a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}

button#secondary:hover {
  background-color: #888888;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

input {
  font-size: 14px;
  height: 40px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 3px;
  border: solid #dddddd 1px;
  float: left;
}

.shortField {
  width: 100px;
}

.container {
  background: #F7F8FA;
}

.content{
  overflow: auto;
  min-height: 300px;
  padding: 60px 0;
  margin: auto;
}

.wide {
  width: 980px;
}

.narrow {
  width: 800px;
}

.content button {
  float: left;
}

#form_container {
  width: 330px;
  min-height: 330px;
  background-color: white;
  border: 1px #dddddd solid;
  padding: 40px;
  margin: auto;
  text-align: center;
  overflow: auto;
}

.column1 {
	float: left;
	width: 330px;
}

.column2 {
	float: right;
	width: 330px;
}

.form_element {
  margin-top: 30px;
  display: block;
}

.errorMsg {
  color: #B53C3F;
  padding: 20px 0;
}


/************************* HEADER *************************/

#header_container {
  height: 60px;
  background-color: white;
}

#header_wrapper {
  width: 980px;
  margin: auto;
  height: 60px;
}

#logo {
  height: 60px;
  width: 300px;
  display: inline-block;
  padding-top: 10px;
}

nav {
  margin-left: 350px;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

nav li {
  display: inline;
  padding-right: 40px;
  float: right;
}

#headerSub {
  color: grey;
}
/************************* HOMEPAGE *************************/

#tagline {
  font-size: 36px;
  padding-top: 155px;
  color: white;
  margin-bottom: 50px;
}

#banner {
  background: #E1E1E1 url('../images/cover2.jpg') no-repeat center;
  display:block;
  text-align: center;
  margin: auto;
  height: 500px;
}

#placeholderdiv {
  height: 500px;
}

/************************* PROFILE *************************/


#yourTrips {
  margin-top: 40px;
}

#tripCard {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px #dddddd solid;
  border-radius: 6px;
  padding: 40px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

#tripCard:hover {
  box-shadow: 1px 1px 0 #dddddd;
}

#profile #mainCTA {
  clear: both;
  display: block;
  float: none;
  margin-top: 30px;
}

#emptyTrips {
  text-align: center;
  font-size: 20px;
}

/************************* CREATE TRIP PAGE *************************/


#createTrip button#primary {
  margin-top: 60px;
  clear: both;
  float: right;
  margin-right: 15px;
}

#createTrip .errorMsg {
  clear: both;
  float: right;
  margin: 30px 0 0 0;
}

.dateItem {
  padding-bottom: 10px;
  color: #6a6a6a;
}

#modalButton {
  display: inline-block;
  float: left;
  clear: both;
}

.modal a {
  color: #9a9a9a;
  display: inline-block;
  padding-right: 40px;
  float: left;
  clear: both;
  margin-top: 20px;
  vertical-align: middle;
}

.modal a:hover {
  text-decoration: underline;
}

.modal #secondary {
  margin-left: 10px;
}

#friendList {
  margin-bottom: 20px;
}

#activityList {
  margin-bottom: 20px;
}

.activityGroup {
  list-style: none;
  padding-bottom: 10px;
}

.activityGroup span {
  font-weight: bold;
}

/************************* CONTRIBUTE TO TRIP PAGE *************************/

.tripItem {
  margin-bottom: 30px;
}

.tripItem button#secondary {
  font-size: 16px;
}

button#voteButton {
  background-color: #6a6a6a;
  border: none;
  padding: 5px 10px;
  margin-left: 8px;
  margin-right: 15px;
  font-size: 8px;
  float: right;
}

button#activityVoteButton{
  background-color: #6a6a6a;
  border: none;
  padding: 5px 10px;
  margin-left: 8px;
  margin-right: 25px;
  font-size: 8px;
  float: right;
}
}

#activityOptions {
  border: 1px solid black;
  height:  100px;
  width: 300px;
}

#activitybtn {
  background-color: #6a6a6a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}

#contributeTrip textarea {
  padding: 10px;
  width: 300px;
  height: 60px;
  border: 1px #dddddd solid;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

.commentItem {
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.commentItem textarea {
  margin-top: 20px;
}


/************************* MISC *************************/

#yelpContainer {
  margin: 60px 0;
  min-height: 140px;
  text-align: center;
}

#yelpContents {
  margin: auto;
  text-align: center;
  width: 700px;
}

#yelpContents button {
  height: 44px;
  padding: 10px 40px;
  float: left;
}

#yelpContents input {
  margin-right: 15px;
  width: 240px;
}

#yelpForm {
  margin: auto;
}

#yelpResults {
  clear: both;
}

#yelpResultItem {
  margin-top: 20px;
  display: inline-block;
  margin-right: 30px;
  width: 200px;
  border: 1px #dddddd solid;
  padding-bottom: 20px;
}

#pic_container {
  height: 150px;
  margin-bottom: 20px;
  margin: auto;
  padding-bottom: 20px;
}

#pic_container img {
  display: block;
  width: 100%;
  height: 100%;
}

#rating {
  font-size: 14px;
  margin-top: 5px;
  color: #6a6a6a;
}

button#secondary {
  background-color: #6a6a6a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}
