

#headercontainer {
    height: 150px;
    font-family: 'Montserrat', sans-serif;

}


#login {
    float: right;
}

#signup {
    float: right;
}

#frontpic {
    text-align: center;
    margin: auto;
}

#createTripHeader {
}

#createTripSubheader {
	color: grey;
}
#createTripParent {
	padding: 0 auto;
	width: 600px;
}

#firstHalf {
	float: left;
	width: 300px;
}

#secondHalf {
	float: right;
	width: 300px;
}