/************************* COMMON ACROSS APP *************************/

body, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
}

h1 {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 24px;
  padding: 0px;
  margin: 0 0 30px 0;
}

h3 {
  font-size: 18px;
  padding: 0 0 10px 0;
  margin: 0;
}

h4 {
  margin: 0 0 20px 0;
  color: grey;
}

#subheader {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

a:hover {
  color: #B53C3F;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  position: relative;
  vertical-align: middle;
  padding: 15px 40px;
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background-color: #B53C3F;
  border-color: #B53C3F;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: #a23638;
  border-color: #a23638;
}

button#secondary {
  background-color: #6a6a6a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}

button#secondary:hover {
  background-color: #888888;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

input {
  font-size: 14px;
  height: 40px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 3px;
  border: solid #dddddd 1px;
  float: left;
}

.shortField {
  width: 100px;
}

.container {
  background: #F7F8FA;
}

.content{
  overflow: auto;
  min-height: 300px;
  padding: 60px 0;
  margin: auto;
}

.wide {
  width: 980px;
}

.narrow {
  width: 800px;
}

.content button {
  float: left;
}

#form_container {
  width: 330px;
  min-height: 330px;
  background-color: white;
  border: 1px #dddddd solid;
  padding: 40px;
  margin: auto;
  text-align: center;
  overflow: auto;
}

.column1 {
	float: left;
	width: 330px;
}

.column2 {
	float: right;
	width: 330px;
}

.form_element {
  margin-top: 30px;
  display: block;
}

.errorMsg {
  color: #B53C3F;
  padding: 20px 0;
}



/************************* HEADER *************************/

#header_container {
  height: 60px;
  background-color: white;
}

#header_wrapper {
  width: 980px;
  margin: auto;
  height: 60px;
}

#logo {
  height: 60px;
  width: 300px;
  display: inline-block;
  padding-top: 10px;
}

nav {
  margin-left: 300px;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

nav li {
  display: inline;
  padding-right: 40px;
  float: right;
}

.activityGroup {
  list-style: none;
  padding-bottom: 10px;
}

.activityGroup span {
  font-weight: bold;
}


/************************* HOMEPAGE *************************/

#tagline {
  font-size: 36px;
  padding-top: 155px;
  color: white;
  margin-bottom: 50px;
}

#banner {
  background: #E1E1E1 url('../images/cover.jpg') no-repeat center;
  display:block;
  text-align: center;
  margin: auto;
  height: 500px;
}

#galleryHeader {
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

#galleryHeader h2 {
  font-weight: normal;
  margin: 0;
}

.gallery {
  margin: 30px 0 60px 0;
}


/************************* PROFILE *************************/

#yourTrips {
  margin-top: 40px;
}

#tripCard {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px #dddddd solid;
  border-radius: 6px;
  padding: 40px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

#tripCard:hover {
  box-shadow: 1px 1px 0 #dddddd;
}

#profile #mainCTA {
  clear: both;
  display: block;
  float: none;
  margin-top: 30px;
}

button#mainCTA {
  font-size: 30px;
}

#emptyTrips {
  text-align: center;
  font-size: 20px;
}


/************************* CREATE TRIP PAGE *************************/

#createTrip button#primary {
  margin-top: 60px;
  clear: both;
  float: right;
  margin-right: 15px;
}

#createTrip .errorMsg {
  clear: both;
  float: right;
  margin: 30px 0 0 0;
}

.dateItem {
  padding-bottom: 10px;
  color: #6a6a6a;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
}

#modal {
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 210px;
  margin: 0 auto;
  padding: 30px;
  overflow: auto;
}

#modal a {
  color: #9a9a9a;
  display: inline-block;
  padding-right: 40px;
  float: left;
  clear: both;
  margin-top: 20px;
  vertical-align: middle;
}

#modal a:hover {
  text-decoration: underline;
}

#modal #secondary {
  margin-left: 10px;
}

#modalButton {
  display: inline-block;
  float: left;
  clear: both;
}

#modal .errorMsg {
  float: left;
  clear: both;
  margin-top: 0;
  padding-top: 0;
}

#friendList {
  margin-bottom: 20px;
}

#activityList {
  margin-bottom: 20px;
}


/************************* CONTRIBUTE TO TRIP PAGE *************************/

.tripItem {
  margin-bottom: 30px;
}

.tripItem button#secondary {
  font-size: 16px;
}

button#voteButton {
  background-color: #6a6a6a;
  border: none;
  padding: 5px 10px;
  margin-left: 8px;
  margin-right: 15px;
  font-size: 8px;
  float: right;
}

button#activityVoteButton{
  background-color: #6a6a6a;
  border: none;
  padding: 5px 10px;
  margin-left: 8px;
  margin-right: 25px;
  font-size: 8px;
  float: right;
}

#activityOptions {
  border: 1px solid black;
  height:  100px;
  width: 300px;
}

#activitybtn {
  background-color: #6a6a6a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}

#contributeTrip textarea {
  padding: 10px;
  width: 300px;
  height: 60px;
  border: 1px #dddddd solid;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

.commentItem {
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.commentItem textarea {
  margin-top: 20px;
}


/************************* YELP GALLERY/SEARCH *************************/

.yelpContainer {
  margin: 60px 0;
  min-height: 140px;
  text-align: center;
}

.yelpContents {
  margin: auto;
  text-align: center;
  width: 980px;
}

.yelpContents button {
  height: 44px;
  padding: 10px 40px;
  float: left;
}

.yelpContents input {
  margin-right: 15px;
  width: 240px;
}

#yelpForm {
  margin: auto;
  width: 670px;
}

.yelpResults {
  clear: both;
}

#yelpResultItem {
  margin: 20px 30px 40px 0;
  display: inline-block;
  width: 280px;
  border: 1px #f1f1f1 solid;
  padding-bottom: 20px;
}

#pic_container {
  height: 180px;
  margin-bottom: 20px;
  margin: auto;
  padding-bottom: 20px;
}

#pic_container img {
  display: block;
  width: 100%;
  height: 100%;
}

#rating {
  font-size: 14px;
  margin-top: 5px;
  color: #6a6a6a;
}


.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  margin-left: -8px;
  position: absolute; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    content: "";
    z-index: -1;
    border-width: 8px;
    left: -8px;
    border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: #f0f0f0; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    top: -1px;
    border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px; }
  .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    border-bottom: none;
    border-top-color: #fff; }
  .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    bottom: -1px;
    border-top-color: #aeaeae; }

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative; }

.react-datepicker__triangle {
  position: absolute;
  left: 50px; }

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative; }

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px; }

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem; }

.react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 0.45rem solid transparent;
  z-index: 1; }
  .react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #ccc; }
    .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  .react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #ccc; }
    .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }
  .react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .react-datepicker__navigation--years-previous {
      top: 4px;
      border-top-color: #ccc; }
      .react-datepicker__navigation--years-previous:hover {
        border-top-color: #b3b2b2; }
    .react-datepicker__navigation--years-upcoming {
      top: -4px;
      border-bottom-color: #ccc; }
      .react-datepicker__navigation--years-upcoming:hover {
        border-bottom-color: #b3b2b2; }

.react-datepicker__month-container {
  display: inline;
  float: left; }

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center; }

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

.react-datepicker__day {
  cursor: pointer; }
  .react-datepicker__day:hover {
    border-radius: 0.3rem;
    background-color: #f0f0f0; }
  .react-datepicker__day--today {
    font-weight: bold; }
  .react-datepicker__day--highlighted {
    border-radius: 0.3rem;
    background-color: #3dcc4a;
    color: #fff; }
    .react-datepicker__day--highlighted:hover {
      background-color: #32be3f; }
  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff; }
    .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
      background-color: #1d5d90; }
  .react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #2a87d0;
    color: #fff; }
    .react-datepicker__day--keyboard-selected:hover {
      background-color: #1d5d90; }
  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5); }
  .react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
    background-color: #f0f0f0;
    color: #000; }
  .react-datepicker__day--disabled {
    cursor: default;
    color: #ccc; }
    .react-datepicker__day--disabled:hover {
      background-color: transparent; }

.react-datepicker__input-container {
  position: relative;
  display: inline-block; }

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem; }
  .react-datepicker__year-read-view:hover,
  .react-datepicker__month-read-view:hover {
    cursor: pointer; }
    .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow {
      border-top-color: #b3b2b2; }
  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow {
    border-top-color: #ccc;
    float: right;
    margin-left: 20px;
    top: 8px;
    position: relative;
    border-width: 0.45rem; }

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae; }
  .react-datepicker__year-dropdown:hover,
  .react-datepicker__month-dropdown:hover {
    cursor: pointer; }
  .react-datepicker__year-dropdown--scrollable,
  .react-datepicker__month-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll; }

.react-datepicker__year-option,
.react-datepicker__month-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .react-datepicker__year-option:first-of-type,
  .react-datepicker__month-option:first-of-type {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
  .react-datepicker__year-option:last-of-type,
  .react-datepicker__month-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  .react-datepicker__year-option:hover,
  .react-datepicker__month-option:hover {
    background-color: #ccc; }
    .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
    .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming {
      border-bottom-color: #b3b2b2; }
    .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
    .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous {
      border-top-color: #b3b2b2; }
  .react-datepicker__year-option--selected,
  .react-datepicker__month-option--selected {
    position: absolute;
    left: 15px; }

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }
  .react-datepicker__close-icon::after {
    background-color: #216ba5;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%; }

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left; }

.react-datepicker__tether-element {
  z-index: 2147483647; }

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647; }
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day {
    width: 3rem;
    line-height: 3rem; }
  @media (max-width: 400px), (max-height: 550px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day {
      width: 2rem;
      line-height: 2rem; } }
  .react-datepicker__portal .react-datepicker__current-month {
    font-size: 1.44rem; }
  .react-datepicker__portal .react-datepicker__navigation {
    border: 0.81rem solid transparent; }
  .react-datepicker__portal .react-datepicker__navigation--previous {
    border-right-color: #ccc; }
    .react-datepicker__portal .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  .react-datepicker__portal .react-datepicker__navigation--next {
    border-left-color: #ccc; }
    .react-datepicker__portal .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }
